{% extends 'base/base.html' %}
{% load static %}

{% block base %}       
    <div class="account-body">
        <div class="account-forms">
            <div class="account-form-container">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
    <div class="account-footer">
        <div class="account-footer-container"></div>
        <div class="panels-container">
            {% block panel %}
            
            {% endblock panel %}
        </div>
    </div>

{% endblock base %}