{% extends 'account/index.html' %}
{% load static %}

{% block content %}

<form action="{% url 'login' %}" class="register-form" method="post">
    {% csrf_token %}

    <h2 class="title">Login</h2>

    {% include 'base/partials/_messages.html' %}
    <div class="input-field">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="Email" name="email">
    </div>
    <div class="invalid-feedback email-feedback"></div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" name="password" id="passwordField">
      <span class="password-show" id="showPassword">
          <i class="fas fa-eye"></i>
      </span>
    </div>
    <input type="submit" class="btn submit-btn" value="Login">
    <div class="reset-password">
      <span>Forgot password ?</span>
      <a href="{% url 'reset-password' %}">Reset it</a>
    </div>
</form>



{% endblock content %}

{% block panel %}
<div class="panel">
    <div class="content">
      <h3>Don't have an account ?</h3>
      <a href="{% url 'register' %}" class="btn transparent" id="sign-up-btn">
        Sign up
      </a>
    </div>
  </div>
{% endblock panel %}