{% extends 'account/index.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'register' %}" class="register-form" method="post">
        {% csrf_token %}

        <h2 class="title">Register</h2>
        
        {% include 'account/partials/_messages.html' %}

        <div class="input-field" id="usernameArea">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username"  autocomplete="off" name="username" id="usernameField" value="{{fieldValues.username}}">
          </div>
          <div class="invalid-feedback username-feedback"></div>
          <p class="username-checking"></p>
          <div class="input-field">
            <i class="fas fa-calendar"></i>
            <input type="number" pattern="\d*" placeholder="Birth year" name="birth_year" value="{{fieldValues.birth_year}}">
          </div>
          <div class="invalid-feedback"></div>
          <div class="input-field" id="emailArea">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email"  autocomplete="off" name="email" id="emailField" value="{{fieldValues.email}}">
          </div>
          <div class="invalid-feedback email-feedback"></div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" id="passwordField">
            <span class="password-show" id="showPassword">
              <i class="fas fa-eye"></i>
            </span>
          </div>
          <input type="submit" class="btn submit-btn" value="Register">
    </form>
{% endblock content %}

{% block panel %}
<div class="panel">
    <div class="content">
      <h3>Already account ?</h3>
      <a href="{% url 'login' %}" class="btn transparent" id="sign-up-btn">
        Sign in
      </a>
    </div>
  </div>
{% endblock panel %}