{% extends 'account/index.html' %}
{% load static %}

{% block content %}
    <form action="#" class="register-form">
        <h2 class="title">Register</h2>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="number" min="1900" placeholder="Birth year" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" />
          </div>
          <input type="submit" class="btn" value="Sign up" />
          <p class="social-text">Or Sign up with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
    </form>
{% endblock content %}

{% block panel %}
<div class="panel">
    <div class="content">
      <h3>New here ?</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
        ex ratione. Aliquid!
      </p>
      <button class="btn transparent" id="sign-up-btn">
        Sign up
      </button>
    </div>
  </div>
{% endblock panel %}