{% extends 'account/index.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'reset-password' %}" class="register-form" method="post">
        {% csrf_token %}

        <h2 class="title">Reset your password</h2>
        
        {% include 'account/partials/_messages.html' %}

        <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" name="email" value="{{values.email}}">
        </div>
        <input type="submit" class="btn submit-btn" value="Reset">
    </form>
{% endblock content %}

{% block panel %}
<div class="panel">
    <div class="content">
      <h3>Don't have an account ?</h3>
      <a href="{% url 'register' %}" class="btn transparent" id="sign-up-btn">
        Sign up
      </a>
    </div>
  </div>
{% endblock panel %}