{% extends 'account/index.html' %}
{% load static %}

{% block content %}

<form action="{% url 'set-new-password' uidb64 token %}" class="register-form" method="post">
    {% csrf_token %}

    <h2 class="title">Login</h2>

    {% include 'account/partials/_messages.html' %}
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" name="password" id="passwordField">
      <span class="password-show" id="showPassword">
          <i class="fas fa-eye"></i>
      </span>
    </div>
    <input type="submit" class="btn submit-btn" value="Login">
</form>

{% endblock content %}