{% load static %}

<nav class="navbar fixed-navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="#" class="navbar-item active">
            <div class="nav-item-icon">
                <i class="fas fa-wine-glass-alt"></i>
            </div>
            <div class="nav-item-label">Cave</div>
        </a>
        <a href="#" class="navbar-item">
            <div class="nav-item-icon">
                <i class="bi bi-heart"></i>
            </div>
            <div class="nav-item-label">Favoris</div>
        </a>
        <a href="#" class="navbar-item">
            <div class="nav-item-icon">
                <i class="bi bi-search"></i>
            </div>
            <div class="nav-item-label">Explorer</div>
        </a>
        <a href="#" class="navbar-item" id="profilSideCollapse" data-bs-auto-close="outside" aria-expanded="false">
            <div class="nav-item-icon">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="nav-item-label">Profil</div>
        </a>
        <div class="navbar-collapse profil offcanvas-collapse" id="offCanvasProfilSide">
            <div class="offcanvas-container">
                <div class="header">
                    <div class="close">
                        <button class="offcanvas-close" id="offCanvasCloseProfil">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    <div class="title">
                        <h1 class="offcanvas-title">Profil</h1>
                    </div>
                </div>
                <div class="offcanvas-body"></div>
                <div class="offcanvas-footer"></div>
            </div>
        </div>
    </div>
</nav>
<div class="banner container">
    <div class="banner-item back">
        <button onclick="history.go(-1)">
            <i class="bi bi-chevron-left"></i>
        </button>
    </div>
    <div class="banner-title">
        <a href="#" class="brand">MyCellWine</a>
    </div>
    <div class="banner-item notification">
        <a href="#" id="notifiactionSideCollapse" data-bs-auto-close="outside" aria-expanded="false">
            <div class="nav-item-icon">
                <i class="bi bi-bell"></i>
            </div>
        </a>
    </div>
</div>
