{% load static %}

<div class="filters">
    <div class="filter-bar">
        <div class="filter-searchbar">
            <div class="search">
                <div class="icon">
                    <i class="bi bi-search"></i>
                </div>
                <div class="input">
                    <div class="input-label">Rechercher dans la cave</div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-bar">
        <div class="filter-category">
            <div class="second-filter-content scroll">
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Type</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="icon-country"></i>
                    </div>
                    <div class="item-label">Pays</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Région</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Appelation</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Domaine</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Millésime</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Cépage</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Personne</div>
                </div>
                <div class="filter-item">
                    <div class="item-icon">
                        <i class="fas fa-wine-glass-alt"></i>
                    </div>
                    <div class="item-label">Taille de la bouteille</div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-sort-items">
        <div class="sort-label">Trier :</div>
        <div class="sort-btn-group">
            <button class="sort-btn" type="button" id="dropdownSortButton">
                <div class="value" id="sortValue">Le plus récent</div>
                <i class="bi bi-chevron-down"></i>
            </button>
            <ul class="sort-menu">
              <li><a class="sort-item" href="#">Le plus récent</a></li>
              <li><a class="sort-item" href="#">Ordre alphabétique</a></li>
              <li><a class="sort-item" href="#">Quand déguster</a></li>
              <li><a class="sort-item" href="#">Année</a></li>
              <li><a class="sort-item" href="#">Note</a></li>
            </ul>
          </div>
    </div>
</div>