{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include "cellar/partials/_filters.html" %}

<div class="cellar-content">
    <div class="cellar-card">
        <div class="card-color red"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color white"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color pink"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color sweet"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color sparkling"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color red"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color white"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color pink"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color sweet"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color sparkling"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cellar-card">
        <div class="card-color red"></div>
        <div class="card-img">
            <img src="{% static 'images/bottle.png' %}" alt="">
        </div>
        <div class="card-details">
            <div class="details-domain">Château Smith Haut-Lafitte</div>
            <div class="details-appelation">Les Hauts de Smith Pessac-Léognan</div>
            <div class="details-location">
                <div class="country-flag">
                    <img src="{% static 'images/France-3.png' %}" alt="">
                </div>
                <div class="location-label">Pessac-Léognan, France</div>
            </div>
            <div class="details-features">
                <div class="feature-item">
                    <i class="bi bi-clock-history"></i>
                    <div class="value">2018</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="value">13°</div>
                </div>
                <div class="feature-item">
                    <i class="bi bi-ui-radios-grid"></i>
                    <div class="value">6</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}